In [125]:
import pandas as pd
import numpy as np
#Data Preprocessing
results_df = pd.read_csv('Archive (4)\\results.csv')
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [126]:
 # Rename to avoid conflict in merge
results_df.rename(columns={
    'raceId': 'raceId_results',        
    'driverId': 'driverId_results',     
    'constructorId': 'constructorId_results' 
}, inplace=True)
results_df.head()

,resultId,raceId_results,driverId_results,constructorId_results,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [127]:
missing_data = results_df.isnull().sum()
print(missing_data)
print(results_df.isin(['NA', 'N/A', 'None', '']).sum())

resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64
resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64

In [128]:
duplicates = results_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [129]:
import pandas as pd

print(results_df.isnull().sum())

print(results_df.isin(['NA', 'N/A', 'None', '']).sum())

results_df['time'] = pd.to_numeric(results_df['time'], errors='coerce')
results_df['milliseconds'] = pd.to_numeric(results_df['milliseconds'], errors='coerce')
results_df['fastestLapTime'] = pd.to_numeric(results_df['fastestLapTime'], errors='coerce')

results_df = results_df.dropna(subset=['time', 'milliseconds'])

print(results_df.isnull().sum())

resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64
resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64
resultId                    0
raceId_results              0
driverId_results            0
constructorId_results       0
number                      0
grid                        0
position                    0
positionText                0
positionOrder               0
points                      0
laps                        0
time                        0
milliseconds                0
fastestLap                  0
rank                        0
fastestLapTime           4359
fastestLapSpeed             0
statusId                    0
dtype: int64

In [130]:

missing_values = results_df['fastestLapTime'].isnull().sum()
print(f'Missing values in "fastestLapTime": {missing_values}')

Missing values in "fastestLapTime": 4359

In [131]:

num_rows, num_columns = results_df.shape
print(f'The dataset has {num_rows} rows and {num_columns} columns.')

The dataset has 4359 rows and 18 columns.

In [132]:
# Check for missing values in all columns
missing_values = results_df.isnull().sum()

# Display the columns with missing values
print(missing_values[missing_values > 0])

fastestLapTime    4359
dtype: int64

In [133]:
# Check for missing values in all columns
missing_values = results_df.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

fastestLapTime    4359
dtype: int64

In [134]:
# Check rows with missing fastestLapTime and inspect related columns
missing_fastest_lap_time = results_df[results_df['fastestLapTime'].isnull()]
print(missing_fastest_lap_time.head())  # Display first few rows

    resultId  raceId_results  driverId_results  constructorId_results number  \
1          2              18                 2                      2      3
2          3              18                 3                      3      7
3          4              18                 4                      4      5
4          5              18                 5                      1     23
23        24              19                 9                      2      4

    grid position positionText  positionOrder  points  laps    time  \
1      5        2            2              2     8.0    58   5.478
2      7        3            3              3     6.0    58   8.163
3     11        4            4              4     5.0    58  17.181
4      3        5            5              5     4.0    58  18.014
23     4        2            2              2     8.0    56  19.570

    milliseconds fastestLap rank  fastestLapTime fastestLapSpeed  statusId
1      5696094.0         41    3             NaN         217.586         1
2      5698779.0         41    5             NaN         216.719         1
3      5707797.0         58    7             NaN         215.464         1
4      5708630.0         43    1             NaN         218.385         1
23     5498125.0         39    6             NaN         208.033         1

In [135]:
# Check for missing values in the dataset
results_df['fastestLapSpeed'].isnull().sum()

0

In [136]:
import pandas as pd

# Load the races.csv file
races_df = pd.read_csv('Archive (4)\\races.csv')

# Display the first few rows and the columns to understand its structure
races_df.head(), races_df.columns

(   raceId  year  round  circuitId                   name        date  \
 0       1  2009      1          1  Australian Grand Prix  2009-03-29
 1       2  2009      2          2   Malaysian Grand Prix  2009-04-05
 2       3  2009      3         17     Chinese Grand Prix  2009-04-19
 3       4  2009      4          3     Bahrain Grand Prix  2009-04-26
 4       5  2009      5          4     Spanish Grand Prix  2009-05-10

        time                                                url fp1_date  \
 0  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...       \N
 1  09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...       \N
 2  07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...       \N
 3  12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...       \N
 4  12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...       \N

   fp1_time fp2_date fp2_time fp3_date fp3_time quali_date quali_time  \
 0       \N       \N       \N       \N       \N         \N         \N
 1       \N       \N       \N       \N       \N         \N         \N
 2       \N       \N       \N       \N       \N         \N         \N
 3       \N       \N       \N       \N       \N         \N         \N
 4       \N       \N       \N       \N       \N         \N         \N

   sprint_date sprint_time
 0          \N          \N
 1          \N          \N
 2          \N          \N
 3          \N          \N
 4          \N          \N  ,
 Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url',
        'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
        'quali_date', 'quali_time', 'sprint_date', 'sprint_time'],
       dtype='object'))

In [137]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         1125 non-null   object
 7   url          1125 non-null   object
 8   fp1_date     1125 non-null   object
 9   fp1_time     1125 non-null   object
 10  fp2_date     1125 non-null   object
 11  fp2_time     1125 non-null   object
 12  fp3_date     1125 non-null   object
 13  fp3_time     1125 non-null   object
 14  quali_date   1125 non-null   object
 15  quali_time   1125 non-null   object
 16  sprint_date  1125 non-null   object
 17  sprint_time  1125 non-null   object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB

In [138]:
races_df.isnull().sum()

raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time           0
url            0
fp1_date       0
fp1_time       0
fp2_date       0
fp2_time       0
fp3_date       0
fp3_time       0
quali_date     0
quali_time     0
sprint_date    0
sprint_time    0
dtype: int64

In [139]:
races_cleaned = races_df.drop(columns=['url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 
                                       'fp3_date', 'fp3_time', 'sprint_date', 'sprint_time'])

print(races_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   raceId      1125 non-null   int64
 1   year        1125 non-null   int64
 2   round       1125 non-null   int64
 3   circuitId   1125 non-null   int64
 4   name        1125 non-null   object
 5   date        1125 non-null   object
 6   time        1125 non-null   object
 7   quali_date  1125 non-null   object
 8   quali_time  1125 non-null   object
dtypes: int64(4), object(5)
memory usage: 79.2+ KB
None

In [140]:
# Check for actual NaN values
print(races_cleaned.isnull().sum())
print(races_cleaned.isin(['NA', 'N/A', 'None', '']).sum())

raceId        0
year          0
round         0
circuitId     0
name          0
date          0
time          0
quali_date    0
quali_time    0
dtype: int64
raceId        0
year          0
round         0
circuitId     0
name          0
date          0
time          0
quali_date    0
quali_time    0
dtype: int64

In [141]:
races_cleaned.rename(columns={
    'year': 'race_year',
    'round': 'race_round',
    'circuitId': 'race_circuitId',
    'name': 'race_name',
    'date': 'race_date',
    'time': 'race_time',
    'quali_date': 'race_quali_date',
    'quali_time': 'race_quali_time'
}, inplace=True)
races_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raceId           1125 non-null   int64
 1   race_year        1125 non-null   int64
 2   race_round       1125 non-null   int64
 3   race_circuitId   1125 non-null   int64
 4   race_name        1125 non-null   object
 5   race_date        1125 non-null   object
 6   race_time        1125 non-null   object
 7   race_quali_date  1125 non-null   object
 8   race_quali_time  1125 non-null   object
dtypes: int64(4), object(5)
memory usage: 79.2+ KB

In [142]:
# Combine date and time columns safely, handling '\N' or missing values
races_cleaned['race_datetime'] = pd.to_datetime(
    races_cleaned['race_date'].str.strip() + ' ' + races_cleaned['race_time'].str.strip(),
    errors='coerce'
)

races_cleaned['quali_datetime'] = pd.to_datetime(
    races_cleaned['race_quali_date'].str.strip() + ' ' + races_cleaned['race_quali_time'].str.strip(),
    errors='coerce'
)

C:\Users\Rabee Abla\AppData\Local\Temp\ipykernel_18216\2050270046.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  races_cleaned['quali_datetime'] = pd.to_datetime(

In [143]:
print(races_cleaned['race_datetime'].isna().sum())
print(races_cleaned['quali_datetime'].isna().sum())
races_cleaned = races_cleaned.dropna(subset=['race_datetime', 'quali_datetime'])
   
print(races_cleaned.isnull().sum())
print(f"Data after dropping rows with missing dates: {races_cleaned.shape}")
print(races_cleaned.info())

731
1057
raceId             0
race_year          0
race_round         0
race_circuitId     0
race_name          0
race_date          0
race_time          0
race_quali_date    0
race_quali_time    0
race_datetime      0
quali_datetime     0
dtype: int64
Data after dropping rows with missing dates: (68, 11)
<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 1036 to 1124
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raceId           68 non-null     int64
 1   race_year        68 non-null     int64
 2   race_round       68 non-null     int64
 3   race_circuitId   68 non-null     int64
 4   race_name        68 non-null     object
 5   race_date        68 non-null     object
 6   race_time        68 non-null     object
 7   race_quali_date  68 non-null     object
 8   race_quali_time  68 non-null     object
 9   race_datetime    68 non-null     datetime64[ns]
 10  quali_datetime   68 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(5)
memory usage: 6.4+ KB
None

In [144]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4359 entries, 1 to 26744
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   resultId               4359 non-null   int64
 1   raceId_results         4359 non-null   int64
 2   driverId_results       4359 non-null   int64
 3   constructorId_results  4359 non-null   int64
 4   number                 4359 non-null   object
 5   grid                   4359 non-null   int64
 6   position               4359 non-null   object
 7   positionText           4359 non-null   object
 8   positionOrder          4359 non-null   int64
 9   points                 4359 non-null   float64
 10  laps                   4359 non-null   int64
 11  time                   4359 non-null   float64
 12  milliseconds           4359 non-null   float64
 13  fastestLap             4359 non-null   object
 14  rank                   4359 non-null   object
 15  fastestLapTime         0 non-null      float64
 16  fastestLapSpeed        4359 non-null   object
 17  statusId               4359 non-null   int64
dtypes: float64(4), int64(8), object(6)
memory usage: 647.0+ KB

In [145]:
results_df.rename(columns={'raceId_results': 'raceId'}, inplace=True)

In [146]:
overlap = set(results_df.columns).intersection(set(races_cleaned.columns))
print("Overlapping columns:", overlap)

Overlapping columns: {'raceId'}

In [147]:
merged_df = results_df.merge(races_cleaned, on='raceId', how='left')
merged_df.head()

,resultId,raceId,driverId_results,constructorId_results,number,grid,position,positionText,positionOrder,points,...,race_year,race_round,race_circuitId,race_name,race_date,race_time,race_quali_date,race_quali_time,race_datetime,quali_datetime
0,2,18,2,2,3,5,2,2,2,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,3,18,3,3,7,7,3,3,3,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,4,18,4,4,5,11,4,4,4,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,5,18,5,1,23,3,5,5,5,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,24,19,9,2,4,4,2,2,2,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [148]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   resultId               4359 non-null   int64
 1   raceId                 4359 non-null   int64
 2   driverId_results       4359 non-null   int64
 3   constructorId_results  4359 non-null   int64
 4   number                 4359 non-null   object
 5   grid                   4359 non-null   int64
 6   position               4359 non-null   object
 7   positionText           4359 non-null   object
 8   positionOrder          4359 non-null   int64
 9   points                 4359 non-null   float64
 10  laps                   4359 non-null   int64
 11  time                   4359 non-null   float64
 12  milliseconds           4359 non-null   float64
 13  fastestLap             4359 non-null   object
 14  rank                   4359 non-null   object
 15  fastestLapTime         0 non-null      float64
 16  fastestLapSpeed        4359 non-null   object
 17  statusId               4359 non-null   int64
 18  race_year              526 non-null    float64
 19  race_round             526 non-null    float64
 20  race_circuitId         526 non-null    float64
 21  race_name              526 non-null    object
 22  race_date              526 non-null    object
 23  race_time              526 non-null    object
 24  race_quali_date        526 non-null    object
 25  race_quali_time        526 non-null    object
 26  race_datetime          526 non-null    datetime64[ns]
 27  quali_datetime         526 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(7), int64(8), object(11)
memory usage: 953.7+ KB

In [149]:
# Show how many raceIds in each DataFrame
print("Race IDs in results_df:", results_df['raceId'].nunique())
print("Race IDs in races_cleaned:", races_cleaned['raceId'].nunique())

# Find missing raceIds
missing_ids = set(results_df['raceId']) - set(races_cleaned['raceId'])
print("Missing raceIds:", len(missing_ids))

Race IDs in results_df: 1036
Race IDs in races_cleaned: 68
Missing raceIds: 968